.invidual-book-details{
    display:flex;
    margin:20px;
    gap:10px;
}
.right-container{
    display: flex;
    flex-Direction: column;
    gap: 1px;
    font-Family: "DM Sans", sans-serif;
    color: #000d42;
    height: 30rem;
    overflow-y: scroll;
}
@media screen and (min-width: 768px){
    .right-container{
        width:60rem;
    } 
}

@media screen and (max-width: 768px) {
    .invidual-book-details {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        
    }
    .right-container{
        height: auto;
        overflow-y: none;
    }

}
.bookbutton-list{
    display:flex;
    gap: 10px;;
    margin-bottom: 20px;
}
@media screen and (max-width: 306px) {
   .book-content{
    text-align: center;
   }

   .bookbutton-list{
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
   }

}

.reviews{
    display:flex;
    margin:20px;
    gap:10px;
}
@media screen and (max-width: 768px) {
    .reviews{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px !important;
    }

}