.card {
    display: inline-block; /* Ensure that the card takes only the space it needs */
    perspective: 1000px; /* Add perspective for 3D effect */
    transition: transform 0.5s; /* Add transition for smooth animation */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: scale(1.1); /* Apply zoom in effect on hover */
   
}

.card-img {
    height: 15rem;
    width: 10rem;
    transition: transform 0.5s; /* Add transition for smooth animation */
}
@media screen and (max-width:500px) and (min-width:438px) {
    .card-img {
        height: 12rem;
        width: 7rem;
    }
    
}

@media screen and (max-width:405px) and (min-width:302px){
    .card-img {
        height: 12rem;
        width: 7rem;
    }
    
}

.card:hover .card-img {
    transform: rotateY(10deg); /* Apply 3D rotation on image on hover */
}
