.cart-container{
 display: flex;
 margin: 20px 5px;
 flex-wrap: wrap;
 gap: 20px;

}

@media screen and (max-width:1200px) {
    .cart-container{
       justify-content: space-between !important;
    }
}
@media screen and (max-width:534px) {
    .cart-container{
       justify-content: center !important;
    }
}
@media screen and (max-width:250px) {
    .cart-card {

        width: 10rem !important;
        height: 16rem !important;
    }
}


.cart-card {

        width: 15rem;
        height: 23rem;
        position: relative;
        overflow: hidden;
        box-shadow: 0 4px 8px rgb(0 0 0 / 59%);
    
  }
  
  .card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the image covers the entire card */
  }
  
  .details {
    position: absolute;
    bottom: 20px; /* Adjust as needed to position the button */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition effect */
  }
  
  .cart-card:hover .details {
    opacity: 1; 
  }
  