.SellerBookReview{
    display: flex;
    gap:10px;
    margin:10px 0px;
}
.all-reviews{
    display: flex;
    width: 70rem;
    flex-direction: column;
    gap: 2px;
    padding: 5px; 
    overflow-y: scroll; 
    -webkit-overflow-scrolling: touch; 
    height: 30rem;
    scrollbar-width: thin; 
    scrollbar-color: transparent transparent; 
}
@media screen and (max-width:1200px) {
    .all-reviews {
        width: 45rem;
    }
}
@media screen and (max-width:992px)  {
    .all-reviews {
        width:32rem;
    }
    .ReviewModalContentLeft{
            width: 30% !important;
    }
}

@media screen and (max-width:768px)  {
    .SellerBookReview{
        flex-direction: column;
        margin:10px 0px;
    }
    .all-reviews {
        width:100%;
    }
    .ReviewModalContentLeft{
        width: 100% !important;
    }
}
.ReviewModalContentLeft{
    display: flex;
        width: 25%;
        flex-direction: column;
        gap: 10px,
}
.ApproveCommet{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: red;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 64%) 0px 2px 4px;
    background-color: rgb(0 13 66 / 12%);
    padding: 2px;
}

.ApprovedCommet{
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    color: green;
    border-radius: 5px;
    box-shadow: rgb(0 0 0 / 70%) 0px 0px 0px;
    background-color: rgb(0 66 2 / 16%);
    padding: 2px;
}