.right-container1 {
    display: flex;
    flex-direction: column;
    gap: 1px;
    font-family: "DM Sans", sans-serif;
    color: #000d42;
    height: 30rem;
    overflow-y: scroll;
}

/* Hide the scrollbar for webkit browsers */
.right-container1::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 768px) {
    .right-container1 {
        height: 20rem !important;
    }
}

@media screen and (max-width: 767px) {
    .right-container1 {
        height: auto;
        overflow-y: none;
    }
}

@media screen and (max-width: 231px) {
    .right-container1 {
        width: 100%;
    }
}
