.right-container1{
    display: flex;
    flex-Direction: column;
    gap: 1px;
    font-Family: "DM Sans", sans-serif;
    color: #000d42;
    height: 30rem;
    overflow-y: scroll;
}
@media screen and (max-width: 768px){
    .right-container1{
        height:20rem !important;
    } 
}

@media screen and (max-width: 767px) {
    
    .right-container1{
        height: auto;
        overflow-y: none;
    }

}

@media screen and (max-width: 231px) {
    
    .right-container1{
        width: 100%;
    }

}
